.icon-24px {
    width: 24px;
    height: 24px;
}

.icon-30px {
    width: 24px;
    height: 24px;
}

.icon-box-60px {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
}