@import "markdown.css";
/* #################### 全局样式 #################### */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Source Han Serif SC", "PingFang SC", sans-serif;
    color: #34495E;
}

a {
    text-decoration: none;
    color: #34495E;
}

body {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: 1s;
}

/* #################### layout.ejs #################### */

#header {
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.10);
    position: fixed;
    top: 0;
}

#footer {
    width: 100%;
    height: 120px;
    background: #F4F4F4;
    text-align: center;
    margin-top: 120px;
}

#main {
    max-width: 1024px;
    margin: 80px auto;
    overflow: hidden;
}

#center {
    width: 100%;
    float: left;
    padding: 0 24px;
}

#aside {
    width: 254px;
    float: left;
    margin-left: -254px;
}

#content {
    margin-right: 254px;
}

.back-to-top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 50px;
    background: #DEDEDE;
    border-radius: 6px;
    margin-left: -152px;
}

.back-to-top:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.20);
}

.back-to-top--icon {
    bottom: 24px;
    right: 24px;
    margin: 13px;
}

/* #################### header.ejs #################### */

#header-container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    height: 100%;
}

.header__left {
    float: left;
}

.header__left:hover {
    animation-name: rubberBand;
    -webkit-animation-name: rubberBand;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.logo {
    width: 40px;
    height: 40px;
    margin: 10px 10px 10px 24px;
    float: left;
}

.title {
    font-size: 22px;
    line-height: 60px;
    float: left;
    color: #BF4033;
    font-weight: bold;
}

.header__right {
    float: right;
}

#menu {
    list-style-type: none;
    float: left;
    line-height: 60px;
    margin-left: 14px;
}

.menu-item {
    display: inline-block;
    height: 56px;
    border-bottom: 4px solid rgba(0, 0, 0, 0);
}

.menu-item:hover {
    color: #BF4033;
    border-bottom: 4px solid #BF4033;
    transition: all .5s linear;
}

.rss {
    width: 24px;
    height: 24px;
    margin: 18px 24px;
}

.rss:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.20);
}

/* #################### 内容 #################### */

.section {
    padding: 24px;
    border-bottom: 1px solid #ececec;
    transition: all .3s linear;
}

.section:hover {
    background: #ececec;
}

.section__title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 6px;
    color: #000;
}

.section__info {
    font-size: 14px;
    padding-bottom: 12px;
    color: #333;
}

.section__excerpt {
    font-size: 16px;
    color: #34495E;
}

/* #################### 侧边栏 #################### */

.aside__item {
    margin: 20px 24px 30px 24px;
}

.aside__item--title {
    font-size: 18px;
    padding-bottom: 6px;
    font-weight: bold;
    color: #BF4033;
}

.aside__item--li {
    list-style-type: none;
    line-height: 30px;
    padding-left: 10px;
    transition: all .3s linear;
}

.tag {
    padding-right: 10px;
    margin: 0 10px 10px 0;
    float: left;
    background: #ECECEC;
    border-radius: 2px;
}

.aside__item--li:hover {
    color: #BF4033;
    background: #ECECEC;
    border-radius: 2px;
}

.tag:hover {
    background: #BF4033;
    color: #fff;
}

/* #################### 页脚 #################### */

.footer-info {
    color: #666;
    line-height: 22px;
    padding-top: 38px;
}

.footer-link {
    color: #BF4033;
}

/* #################### archive.ejs #################### */

.archive {
    padding: 30px 0 0 48px;
}

.archive-item {
    font-size: 18px;
    color: #000;
    padding-bottom: 10px;
    transition: all .3s linear;
}

.archive-item:hover {
    color: #BF4033;
}

/* #################### post.ejs #################### */

#post {
    margin-top: 20px;
}

.post-category {
    font-size: 14px;
    font-weight: bold;
    height: 20px;
}

.category-icon {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 4px;
}

.category-name {
    color: #999;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.post-date {
    font-size: 14px;
    margin-top: 4px;
    color: #000;
}

.post-line {
    width: 100%;
    height: 2px;
    background: #ececec;
    margin: 20px 0;
}

.post-tag {
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
    margin: 0 10px 10px 0;
    float: left;
    background: #ECECEC;
    border-radius: 2px;
    transition: background-color .3s linear;
}

.post-tag:hover {
    color: #fff;
    background: #BF4033;
}

@media screen and (max-width: 800px) {
    #aside, .header__right {
        display: none;
    }
    #content {
        margin-right: 48px;
    }
    .section {
        padding: 24px 0;
    }
    #article img {
        max-width: 100%;
    }
}

@media all and (orientation: portrait) {
    #aside, .header__right {
        display: none;
    }
    #content {
        margin-right: 48px;
    }
    .section {
        padding: 24px 0;
    }
    #article img {
        max-width: 100%;
    }
}