* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Songti SC";
    color: #34495E;
}

a {
    text-decoration: none;
    color: #34495E;
}

/* #################### 导航 #################### */

header {
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.10);
    position: fixed;
    top: 0;
}

#header-container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    height: 100%;
}

.header__left {
    float: left;
}

.logo {
    width: 40px;
    height: 40px;
    margin: 10px 10px 10px 24px;
    float: left;
}

.title {
    font-size: 22px;
    line-height: 60px;
    float: left;
    color: #BF4033;
    font-weight: bold;
}

.header__right {
    float: right;
}

.menu {
    list-style-type: none;
    float: left;
    line-height: 60px;
    margin-left: 14px;
}

.menu a {
    color: #BF4033;
}

.rss {
    width: 24px;
    height: 24px;
    margin: 18px 24px;
}

/* #################### 主体 #################### */

#main {
    width: 100%;
    max-width: 1024px;
    margin: 60px auto 0;
    padding-top: 20px;
}

/* #################### 内容 #################### */

#content {
    width: 75%;
    height: 100%;
    float: left;
}

.section {
    padding: 24px;
    margin: 0 24px;
    border-bottom: 1px solid #ececec;
}

.section:hover {
    background: #ececec;
}

.section__title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 6px;
    color: #000;
}

.section__info {
    font-size: 14px;
    padding-bottom: 12px;
    color: #333;
}

.section__excerpt {
    font-size: 16px;
    color: #34495E;
}

/* #################### 侧边栏 #################### */

aside {
    width: 25%;
    height: 100%;
    float: right;
}

.aside {
    margin: 20px 24px 30px 24px;
}

.aside__title {
    font-size: 18px;
    padding-bottom: 6px;
    font-weight: bold;
    color: #BF4033;
}

.aside__item {
    list-style-type: none;
    line-height: 30px;
    padding-left: 10px;
}

.tag {
    padding-right: 10px;
    margin: 0 10px 10px 0;
    float: left;
    background: #ECECEC;
    border-radius: 2px;
}

.aside__item:hover {
    color: #BF4033;
    background: #ECECEC;
    border-radius: 2px;
}

.tag:hover {
    background: #BF4033;
    color: #fff;
}

/* #################### archive.ejs #################### */

.archive {
    padding: 30px 0 0 48px;
}

.archive-item {
    font-size: 18px;
    padding-bottom: 10px;
}

.archive-item:hover {
    color: #BF4033;
}

.archive__item-title {
    color: #000;
}

.archive__item-title:hover {
    color: #BF4033;
}

/* #################### 文章 #################### */

#article {
    font-size: 16px;
    padding: 0 24px;
    /* background: #efefef; */
}

#article h1, #article h2, #article h3, #article h4, #article h5, #article h6 {
    line-height: 40px;
    margin: 20px 0 15px;
}

/* 代码 */

#article pre {
    margin: 20px;
    box-shadow: 0 8px 12px rgba(189, 189, 189, .25);
}

pre:before {
    content: "                                               ";
    position: absolute;
    background: url('../images/dot.png') no-repeat 20px 16px;
    height: 40px;
}

#article span {
    font-family: "codefont";
}

#article code {
    font-family: "codefont";
    padding: 40px 16px 20px;
    border-radius: 8px;
}

/* 图片 */

#article img {
    max-width: 600px;
    max-height: 500px;
    border-radius: 6px;
    box-shadow: 0 8px 12px rgba(189, 189, 189, .25);
    margin: 30px auto;
}