@media screen and (max-width: 800px) {
    #aside, .header__right {
        display: none;
    }
    #content {
        margin-right: 48px;
    }
    .section {
        padding: 24px 0;
    }
    #article img {
        max-width: 100%;
    }
}

@media all and (orientation: portrait) {
    #aside, .header__right {
        display: none;
    }
    #content {
        margin-right: 48px;
    }
    .section {
        padding: 24px 0;
    }
    #article img {
        max-width: 100%;
    }
}